.btn {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #68bb5d;
    color: white;
    border: none;
  }
  
  .btn:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .btn:disabled {
    opacity: 0.5;
    cursor: auto;
  }